*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base: #555;
    --base-100: #f1f1f1;
    --base-800: #000;
    --yellow: #ffda4b;
    --yellow-100: #fffbe6;
    --yellow-800: #8b6f00;
    --yellow-500: #ffeba0;
    --blue: #0a61ae;
    --blue-100: #e2f8ff;
    --blue-400: #61dafb;
    --blue-800: #0a61ae;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: var(--blue);

    &:hover {
        text-decoration: underline;
    }
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);



    .logo-holder {
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color: var(--base--800);
        text-decoration: none;

        .logo-text {
            flex: 1;
            padding-left: 20px;

        }


    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);

                    &:hover {
                        background-color: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }

        .mobile-toggle {
            display: none;
            color: var(--base-800);
            padding: 10px;

            @media(max-width:768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media(max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media(max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}

.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* max-height: 400px;*/

    @media(max-width:1440px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px !important;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 10px;
    transition: ease 0.3s all;

    &:hover {
        text-decoration: none;
        background-color: var(--base-800);
    }

    &.white {
        background-color: white;
        color: var(--base--800);

        &:hover {
            background-color: var(--base-100);
            color: var(--base-800);
        }
    }

    &.black {
        background-color: black;
        color: white;

        &:hover {
            background-color: var(--base);
            color: var(--base-100);
        }
    }
}

h1 {
    font-size: 34px;
    line-height: 1;
    margin-bottom: 5px;

    small {
        display: block;
        font-weight: 100;
    }

    @media(max-width:1024) {
        font-size: 24px;
    }
}

.hero {
    display: flex;

    @media(max-width:1024px) {
        flex-direction: column;
    }

    .hero-blue {
        flex: 1;
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .call-to-action {
            margin-bottom: 10px;

            a {
                margin-right: 10px;
                margin-left: 10px;
            }

        }

        .social-links {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .hero-yellow {
        flex: 1;
        background-color: var(--yellow);
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;



        img {
            margin-top: -30px;
            max-width: 420px;

        }

            }




}



.fonts1 {
    font-size: 15px;
}

.logos {
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px 0px;


    @media(max-width:1440px) {
        border-radius: 0px;
    }

    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 108px !important;
        overflow: hidden;
        position: relative;

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;

        }
    }

}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

h2 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-800);
    padding: 30px;

    small {
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: var(--base);
    }

    @media(max-width:1024px) {
        font-size: 38px;
    }
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--base-800);
}

.skills {
    .holder-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;

        @media(max-width:1024px) {
            flex-direction: column;
        }

        .left-column {
            flex: 1;

            ul {
                list-style-type: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;

                li {
                    display: inline-block;
                    background-color: var(--blue-400);
                    padding: 10px 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            }
        }

        .right-column {
            flex: 1;

            p {
                margin-bottom: 20px;
            }
        }
    }
}

.work-experience {
    .jobs {
        display: flex;
        gap: 30px;

        @media(max-width:1024px) {
            flex-direction: column;
        }

        article {
            background-color: var(--yellow-100);
            padding: 30px;
            border-radius: 30px;
            flex: 1;

            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            div {
                font-weight: 600;
                margin-bottom: 5px;
                color: var(--base-800);
            }

            p {
                margin-bottom: 10px;
            }
        }

    }
}

.bento {
    .bento-grid {
        display: grid;
        margin-left: 30px;
        margin-right: 30px;
        grid-gap: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: auto;

        @media(max-width:1024px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
        }

        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
        }

        .bento-item {
            padding: 30px !important;
            background-color: var(--blue-100);
            border-radius: 15px;
            position: relative;
            overflow: hidden;

            @media(max-width:768px) {

                height: auto;
            }


            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;

                @media(max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }

            &:nth-child(2) {
                grid-column: span 3;
                grid-row: span 1;

                @media(max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }

            &:nth-child(3) {
                grid-column: span 3;
                grid-row: span 1;

                @media(max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 3;

                }
            }
            &:nth-child(4) {
                grid-column: span 5;
                grid-row: span 1;

                @media(max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 3;

                }
            }

        }


    }
}

.contact {
    h2 {
        margin-top: 20px;
    }
}

.contact-content {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 15px;

}

.contact-form {
    flex: 70%;
    background-color: #e2f8ff;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
}

#form-title {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1px;
    margin-left: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

fieldset {
    border: none;
}

.form-field {
    outline: none;
    width: 60%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    margin-bottom: 8px;

}
.form-field .form-data{
    font-size: medium;
}

#name,
#email,
#subject,
#message {
    font-family: "Open Sans", sans-serif;
    color: #000;
    outline: none;
    background: transparent;
    border: none;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 2rem;
    width: 100%;
}

textarea,
#message {
    width: 100%;
    color: #000;
    overflow: visible;
}

#form-btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
    border: none;
    color: black;
    font-size: 0.6rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    width: 20%;
    height: 40px;
    background-color: #61dafb;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 10px;
}

#form-btn:hover {
    opacity: 0.9;
    transform: translateY(-2.5%);
    box-shadow: 0 0 15px 0 #000;
}

.contact-info {
    display: flex;
    flex-direction: column;
    flex: 30%;
    align-items: flex-start;
    justify-content: center;
    background-color: #88a2ad;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-top: 0px !important;
}

.contact-info h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: black;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.contact-info a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #eaeaea;
    font-size: 0.8rem;
    letter-spacing: 2px;
    line-height: 3rem;
    margin-bottom: 3rem;
    transition: all .3s ease;
}

.contact-info a:hover {
    transform: translateY(-2.5%);
    color: #d3d3d3;
}

.contact-info .fab {
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 2rem;
    color: #eaeaea;
    cursor: pointer;
    transition: all .3s ease;
}

.contact-info .fa-linkedin {
    padding-left: 0px !important;
}

.fab:hover {
    transform: scale(1.2);
    color: #d3d3d3;
}

#mailids {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

@media (max-width: 1024px) {
    .contact-content {
        flex-direction: column;
        width: 90%;
    }

    .contact-form,
    .contact-info {
        flex: 100%;
    }
}

.bold-text{
    font-weight: 620;
}

.justify-text {
    text-align: justify;
  }

.logoImg{
   width:98px;
   height:98px;
}

.bento-item .justify-text{
    margin-top:8px;
}
